[submodule ".registry"]
	path = .registry
	url = https://github.com/lcbc-uio/lcbc-uio.r-universe.dev
	branch = HEAD
[submodule "BayesianLaterality"]
	path = BayesianLaterality
	url = https://github.com/LCBC-UiO/BayesianLaterality
[submodule "Conversions"]
	path = Conversions
	url = https://github.com/LCBC-UiO/Conversions
[submodule "eprimeParser"]
	path = eprimeParser
	url = https://github.com/LCBC-UiO/eprimeParser
[submodule "galamm"]
	path = galamm
	url = https://github.com/LCBC-UiO/galamm
[submodule "lcbcr"]
	path = lcbcr
	url = https://github.com/LCBC-UiO/lcbcr
[submodule "nettskjema.tsd"]
	path = nettskjema.tsd
	url = https://github.com/LCBC-UiO/nettskjema.tsd
[submodule "nettskjemar"]
	path = nettskjemar
	url = https://github.com/LCBC-UiO/nettskjemar
[submodule "noasr"]
	path = noasr
	url = https://github.com/LCBC-UiO/noasr
[submodule "psykinematix"]
	path = psykinematix
	url = https://github.com/LCBC-UiO/psykinematix
[submodule "questionnaires"]
	path = questionnaires
	url = https://github.com/LCBC-UiO/questionnaires
[submodule "tsdrtools"]
	path = tsdrtools
	url = https://github.com/LCBC-UiO/tsdrtools
